.sidebar{
  float: left;
  width: 33%;

}
.sidebar img{
  max-width: 250px;
  max-height: 250px;
  float: right;
  border: 5px solid black;

}
.page-header{

  text-align: center;
}
.content{
  width: 66%;
  float: right;

}
html{
  min-height: 100%;
}
body{
  background: url("../images/fall.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
