.sidebar{
  float: left;
  width: 33%;

}
.sidebar img{
  max-width: 250px;
  max-height: 250px;
  float: right;
  border: 5px solid black;
}
.page-header{

  text-align: center;
}
.content{
  width: 66%;
  float: right;

}
.container{
  background-color: black;
}
